// BLEU
$bleu-ciel: #A9D7E0;
$bleu-fonce: #3789A5;
// BLANC
$white: #fff;
$blanc-bg: #F1F1F2;
// ROUGE
$red: #E72C35;
// GRIS
$gris-fonce: #949797;
$gris-clair: #CDCECF;
// NOIR
$black: #000;
// ORANGE
$orange: #F9BB89;
// ROSE
$rose: #EABCBD;
$rose-clair: #E6C6C7;
// JAUNE
$jaune: #FAD753;
// VERT
$vert-clair: #C8D8CF;
$very-light-green: #DAE2DE;
// SOCIAUX
$facebook: #3B5998;
$google: #EC5144;
$linkedin: #0077B5;
