$bleu-ciel: #A9D7E0;
$bleu-fonce: #3789A5;
$white: #fff;
$gris-fonce: #949797;
$gris-clair: #CDCECF;
$black: #000;
$orange: #F9BB89;
$red: #E72C35;
$rose: #EABCBD;
$jaune: #FAD753;
$vert-clair: #C8D8CF;
$blanc-bg: #F1F1F2;
$rose-clair: #E6C6C7;
$very-light-green: #DAE2DE;
