// BLOC LOGO
.logo {

  &__store img {
    position: absolute;
    top: 0;
    left: calc(50% - 75px);
    width: 150px;
  }

  &__ddp img {
      width: 200px;
  }

}

// BLOC USP
.post__submission {
    position: relative;
    float: right;
    top: -80px;
}

// BLOC NEWSLETTER
.newsletter {
  top: -70px;
  width: 100%;
  text-align: right;
  float: right;
  position: relative;
}

#newsletter {

  &__homme, &__femme {
    display: inline-block;
  }

}

.hp-wrap, .ninja-forms-required-items, .ninja-forms-req-symbol strong {
  display: none;
}
