.logo {

  &__store img {
    position: absolute;
    top: 0;
    left: calc(50% - 75px);
    width: 70px;
  }

  &__ddp {
    display: inline-block;
    & a {
      z-index: 9;
      background-color: $white;
      width: 200px;
      height: auto;
      display: block;
      margin-top: 25px;
      position: relative;
      cursor: pointer;
      z-index: 10;
    }

    & img {
      display: block;
      width: 100%;
    }
  }
}

.header {
  height: 160px;
  background: $white;

  &__container {
    background: $white;
    height: 160px;
    z-index: 10;
    position: relative;
  }

  &__navigation {
    background: $black;
    display: block;
    position: relative;
    height: 40px;
  }
}

.hp-wrap, .ninja-forms-required-items, .ninja-forms-req-symbol strong {
  display: none;
}
