.home {

  &__strate {
    overflow: hidden;
  }

  &__newsletter {
    height: 130px;
    background: $rose;

    &--padding {
      padding: 40px;
    }

    & .newsletter__button--container {
      width: 84px;
    }

    & .newsletter__button--femme, .newsletter__button--homme {
      margin-left: -5px;
    }

    & .newsletter input#ninja_forms_field_5, .newsletter input#ninja_forms_field_6 {
      width: 300px;
    }

    & div {

      & p:first-of-type {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bolder;
      }

      & p {
        font-size: 1.1rem;
        text-transform: uppercase;
      }

      & .newsletter__homme, & .newsletter__femme {
        top: -3px;
      }

      & .newsletter__button--container {
        top: 0;
      }
    }
  }

  &__aumenu {
    &--1 {
      & span {
        position: relative;
        top: -90px;
        text-align: center;
        display: block;
        text-transform: uppercase;
        color: white;
        font-size: 35px;
      }
      & img {
        width: 100%;
        height: auto;
      }
    }

    &--2 {
      padding: 20px;
      background: $very-light-green;
      margin-left: 10px;
      min-height: 412px;

      img {
        width: auto;
        max-height: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      span {
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
        display: block;
        color: $gris-fonce;
        font-size: 13px;
      }

      p {
        text-align: center;
      }
    }
  }

  &__button {
    &--container {
      float: left;
      left: 50%;
      position: relative;
      @include transform(translateX(-50%));
    }
    &--voir-plus {
      position: relative;
      padding: 10px 25px;
      margin-top: 20px;
      border: 1px solid #A9D7E0;
      font-size: 16px;
      font-family: 'josefin_slabregular';
      background: #fff;
      color: #A9D7E0;
      text-align: center;
      margin: 30px auto 0px auto;
      display: block;
      max-width: 140px;
      text-decoration: none;
    }

    &--voir-plus:hover {
      border: 1px solid $white;
      background: $bleu-ciel;
      color: $white;
      @include transition(1s all ease);
    }
  }

  &__h3 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 46px;
    padding-left: 12px;
    position: relative;
    text-transform: uppercase;
  }

  &__h3:before {
    content: " ";
    width: 46px;
    height: 46px;
    display: block;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 18px;
    left: 0;
  }

  &__h3--bleu:before {
    background: $bleu-ciel;
  }

  &__h3--orange:before {
    background: $orange;
  }
  &__h3--rose:before {
    background: $rose;
  }

  &__h3--jaune:before {
    background: $jaune;
  }

  &__h3--vert-clair:before {
    background: $vert-clair;
  }

  &__h3:after {
    content: '';
    display: inline-block;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 5px;
    height: 100%;
    margin-right: -100%;
    border-bottom: 1px solid #000;
  }

  &__textes {
    float: right;
    margin-right: 20px;
    text-align: justify;
  }

  &__h4 {
    text-transform: uppercase;
    margin-bottom: 6px;
    font-family: 'josefin_slabsemibold';

    &--store {
      text-align: center;
      display: block;
      position: relative;

      & a {
        margin-left: 20px;
        font-size: 1.6em;
      }
    }


    &--store {
      &-hr:before, &-hr:after {
        content: '';
        display: inline-block;
        width: 30%;
        margin-left: 20px;
        margin-bottom: 5px;
        height: 100%;
        border-bottom: 1px solid #000;
      }

      &:before {
        margin-left: -100%;
      }

      &:after {
        margin-right: -100%;
      }
    }

    &--infoencontinu {
      font-size: 1.6rem;
      font-family: 'josefin_slabregular';
    }

    &--brandfactory {
      margin-bottom: 6px;
      width: 100px;
      font-size: 32px;
    }
  }

  &__button {
    padding: 15px 10px;
    margin-top: 20px;
    display: block;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    font-family: 'josefin_slabsemibold';
    text-transform: uppercase;

    &--gris {
      @include transition(1s all ease);
      background: $white;
      color: $gris-clair;
      border: 1px solid $gris-clair;
      width: 130px;
    }

    &--gris:hover {
      background: $gris-clair;
      color: $white;
      border: 1px solid $white;
    }

    &--orange {
      @include transition(1s all ease);
      background: $orange;
      color: $white;
      border: 1px solid $white;
      width: 120px;
    }
    &--brandfactory {
      @include transition(1s all ease);
      background: $white;
      color: $very-light-green;
      border: 1px solid $very-light-green;
      width: 130px;
      left: 65px;
      position: relative;
      @include transform(translateX(-50%));
    }

    &--aumenu {
      @include transition(1s all ease);
      background: $white;
      color: $very-light-green;
      border: 1px solid $very-light-green;
      width: 130px;
      left: 50%;
      position: relative;
      @include transform(translateX(-50%));
    }

    &--aumenu:hover {
      background: $very-light-green;
      color: $white;
      border: 1px solid $white;
    }

    &--orange:hover {
      background: $white;
      color: $orange;
      border: 1px solid $orange;
    }

    &--whiterose {
      @include transition(1s all ease);
      background: $white;
      color: $rose;
      border: 1px solid $rose;
      margin-left: auto;
      margin-right: auto;
      top: 72%;
      position: relative;
      width: 160px;
    }

    &--whiterose:hover {
      background: $rose;
      color: $white;
      border: 1px solid $rose;
    }

    &--miss {
      @include transition(1s all ease);
      text-transform: capitalize;;
      background: $red;
      color: $white;
      border: 1px solid $red;
      margin-left: auto;
      margin-right: auto;
      width: 130px;
      top: 71%;
      position: relative;
    }

    &--miss:hover {
      background: $white;
      color: $red;
      border: 1px solid $white;
    }

    &--mr {
      @include transition(1s all ease);
      text-transform: capitalize;;
      background: $bleu-fonce;
      color: $white;
      border: 1px solid $bleu-fonce;
      position: relative;
      top: 71%;
      width: 120px;
      margin-left: auto;
      margin-right: auto;
    }

    &--mr:hover {
      background: $white;
      color: $bleu-fonce;
      border: 1px solid $white;
    }
  }

  &__startup {
    margin-top: 40px;
    padding-bottom: 16px;

    &--img {
      text-align: center;
    }

    &--hastag {
      display: block;
      margin-top: 6px;
      margin-bottom: 6px;
      color: blue;
    }

    &--bg {
      position: absolute;
      width: 150vw;
      background: $blanc-bg;
      height: 100%;
      margin-left: -60vw;
      z-index: -1;
    }

    img {
      border-radius: 50%;
      max-height: 150px;
      width: auto;
      left: 50%;
      position: relative;
      @include transform(translateX(-50%));
      margin-bottom: 40px;
    }

    &--textes {
      float: right;
      margin-right: 20px;
      text-align: justify;
    }
  }

  &__brandfactory {

    &--img img {
      width: 100%;
      height: auto;
    }
  }

  &__lifestyle {

    &--div {
      background-size: cover;
      position: relative;
    }

    &--evasion {
      background-image: url("http://localhost:8890/ddp/wp-content/uploads/2016/05/Screen-Shot-2016-05-20-at-10.44.44-AM.png");
      height: 340px;
    }

    &--miss {
      background-image: url("http://localhost:8890/ddp/wp-content/uploads/2016/05/miss_ddp.png");
      height: 340px;
      background-color: $gris-clair;
    }

    &--mr {
      background-image: url("http://localhost:8890/ddp/wp-content/uploads/2016/05/mr__ddp.png");
      height: 340px;
      background-color: $gris-clair;
    }

    &--mariage {
      background-image: url("http://localhost:8890/ddp/wp-content/uploads/2016/05/Screen-Shot-2016-05-20-at-10.45.13-AM.png");
      height: 96px;
      max-height: 96px;
      position: relative;
      float: left;
      width: 100%;
      background-size: contain;
      margin-top: 20px;
      margin-bottom: 20px;
      font-style: italic;
    }

    &--venteddp {
      background-image: url("http://localhost:8890/ddp/wp-content/uploads/2016/05/Screen-Shot-2016-05-20-at-10.45.24-AM.png");
      height: 342px;
      max-height: 342px;
      position: relative;
      float: left;
      width: 100%;
      background-size: contain;
      margin-bottom: 20px;
    }

    &--decouvrir {
      position: relative;
      text-transform: uppercase;
      font-family: 'josefin_slabsemibold';
      font-size: 14px;
      top: 34px;
      text-align: center;
      display: block;
    }

    &--mariage-p {
      font-size: 32px;
      display: block;
      text-align: center;
      top: 25px;
      position: relative;
    }
  }

  &__video {

    &--block {
      height: 560px;
    }

    & span p {
      position: absolute;
      width: 100%;
    }

    &--liens {
      &:after {
        pointer-events: none;
        position: relative;
        z-index: -1;
        content: '';
        border-style: solid;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
        left: -20%;
        top: 0;
        border-width: 0 10px 10px 10px;
        @include transition(0.1s all ease-in);
        border-color: $rose transparent $rose transparent;
      }
      &:hover:after, &:focus:after, &:active:after, &:active, &:focus, &::selection {
        // -webkit-transform: translateY(-10px);
        // transform: translateY(-10px);
        top: -57px;
        z-index: 2;
      }
      // &:after {
      //   content: " ";
      //   height: 16px;
      //   width: 21px;
      //   background: url(http://localhost:8890/ddp/wp-content/uploads/2016/05/triangle.png);
      //   visibility: hidden;
      //   display: block;
      //   z-index: 9;
      //   top: -61px;
      //   position: relative;
      //   background-size: contain;
      //   margin-left: auto;
      //   margin-right: auto;
      // }
    }

    &--lienscontainer {
      display: block;
      width: 100%;
      position: relative;
      top: 350px;
      & li {
        display: inline-block;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        font-family: 'josefin_slabsemibold';
        width: 25%;
        float: left;
        padding: 30px 0px;
        background: $rose-clair;
        text-align: center;
        max-height: 80px;
        &:hover {
          background: $rose;
        }
      }
    }
  }
}

.bg {
  &__startup {
    position: absolute;
    background: $gris-bg;
    margin-top: 20px;
    z-index: -1;
  }
}
