.last__post {
  margin-top: -3px;

  figcaption {
    position: absolute;
    display: block;
    bottom: 12px;
    left: 50%;
    @include transform(translateX(-50%));
    width: 90%;
    text-align: center;
    color: white;
    text-transform: uppercase;
  }

  img {
    width: auto;
    height: auto;
    max-height: 260px;
    min-width: 100%;
    max-width: 100%;
    left: 50%;
    @include transform(translateX(-50%));
    position: relative;
  }
}
