@media (max-width: 960px) {
  .menu__container {
    width: 100%;
  }

  .home__newsletter--padding {
    padding: 40px;
    text-align: center;
  }

  .home__newsletter .newsletter {
      width: 100%;
  }

}
