#menu-nav {
  width: auto;
  display: inline-block;
  position: relative;
  text-align:center;
  text-transform: uppercase;
  height: 40px;
  z-index: 10;
  background: $black;

  > li.menu-item{
    height: 100%;
    vertical-align: top;

    & > .sub-menu {
      display: flex !important;
      flex-direction: column;
      li {
        flex: 1;
        align-items: center;
        display: flex;
        .sub-menu {
          right: 0;
          left: initial;
          top: 0;
          li{
            height:25px;
          }
        }
      }
    }
  }

  & > li.menu-item:not(:first-child) a:before {
    content: "•";
    color: $jaune-menu;
    display: block;
    position: absolute;
    top: calc(50% - 6px);
    left: -5px;
  }

  & > li > a:after{
    content:'';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
  }

  li {
    display:inline-block;
    @include font($Jbold, $extrasmall, uppercase);
    margin-top: 0px;

    a {
      padding: 0 15px;
      height: 100%;
      position: relative;
      color:white;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .sub-menu{
      width:35%;
      display: block;
      position:absolute;
      top:40px;
      left:0;
      height: 0px;
      overflow-y: hidden;
      transition: all 0.3s ease;
      background-color: $white;
      text-align: left;
      text-transform: capitalize;
      @include box-shadow(0px 2px 1px 0px #C1C1C1);

      li{
        display: block;
        text-align: center;
        position: relative;
        height: 38px;

        a {
          color:black;
        }
      }

      &.multiple{
        li{
          width:auto;
          display: inline-block;
          position:relative;

          ul{
            width:auto;
            position:absolute;
            height:auto;
            li{
              display: block;
              padding:8px 0px;
            }
          }
        }
      }
    }

    .nav__thumbnails{
      width:65%;
      box-sizing: border-box;
      display: block;
      position:absolute;
      top:40px;
      right:0;
      height: 0px;
      overflow-y: hidden;
      @include transition(all 0.3s ease);
      @include box-shadow(0px 2px 1px 0px #C1C1C1);
      background-color: $white;
      text-align: right;

      li{
        padding:10px;
        box-sizing: border-box;
        width:30%;
        display: inline-block;

        a {
          display: block;
          width: 100%;
          max-height: 180px;
          overflow-y: hidden;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    &:hover:not(#menu-item-10491) {
      .sub-menu{
        height: 200px;
      }
      .nav__thumbnails {
        height: 200px;
      }
    }
  }
}

.menu__container {
    width: 80%;
    margin: 0 auto;
    max-width: 1026px;
    text-align: center;
}

#menu-item-10408, #menu-item-10412 {
  font-weight: bold;
  text-decoration: underline;
}

li#text-4 {
  margin-top: 7px;
}

.sub-menu {
  font-weight: normal;
  text-decoration: none;
}
