.post {
  margin-bottom: 30px;
  
  p {
    @include font($Oregular, $small, none);
  }
  section {
    background: $white;
    width: 63%;
    padding: 40px 20px;
    float: none!important;
    margin-right: 10px;
    padding-bottom: 1px;
  }

  &__date {
    margin-top: 20px;
    margin-bottom: 20px;
    &:before {
      margin-right: 20px;
    }
  }

  &__h4 {
    font-size: $medium;
    text-transform: uppercase;
  }

  &__thumbnails {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
  }

  &__header {
    text-align: center;
  }
}

.single {
  & article.post p, .comment-content p, article.page p {
    padding-bottom: 17px;
  }

  & p {
    padding-bottom: 10px;
    line-height: 24px;
  }

  .sidebar {
    background: $white;
    padding: 40px;

    & .widget {
      &:first-child {
        margin-top: 0px;
      }
    }
  }
}

.alm-listing li {
  margin: 0 20px 30px;
  padding: 0px 0 0 15px;
  list-style-type: disc;
}
