.post__submission {
  position: relative;
  float: right;
  margin-top: 95px;
  z-index: 9;
  right: 0;
  width: 300px;
  margin-right: -300px;

  & a {
    text-decoration: none;
    background: $gris-fonce;
    padding: 0px 10px 10px;
    color: $white;
    width: 300px;
    position: relative;
    display: block;
    text-align: center;
    padding-bottom: 10px;
    @include font($Jbold, $small, none);
  }

  & a:hover {
    background: $black;
    @include transition(1s all ease);
  }

  &--plus {
    font-size: $big;
    margin-left: 15px;
    position: relative;
    top: 3px;
  }
}

.wpoa-login-button {
  padding-top: 12px;
  position: relative;
  display: block!important;
  text-align: center;
  color: white;
  padding-bottom: 12px;
  margin-bottom: 6px!important;
}

#wpoa-login-google {
  background: $google;
}

#wpoa-login-facebook {
  background: $facebook;;
}

#wpoa-login-linkedin {
  background: $linkedin;
}


.wpoa-layout-align-left {
  text-align: center;
  max-width: 400px;
  position: relative;
  @include transform(translateX(-50%));
  left: 50%;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

p#wpoa-title {
  text-align: center!important;
  padding-bottom: 20px;
}

.submission {
  border: 1px solid $gris-border;
  padding-top: 30px;
  background: $bleu-ciel;
  margin-bottom: 40px;
}
