.sidebar {
  position: relative;
  float: right;

  &__coupdecoeur--red {
    color: $red;
  }
  // &__sideborder {
  //   text-transform: uppercase;
  //
  //   &:after, &:before {
  //     content: " ";
  //     display: inline-block;
  //     width: 25%;
  //     background: black;
  //     position: absolute;
  //     border-bottom: 1px solid black;
  //     top: 6px;
  //   }
  //
  //   &:before {
  //     right: 0%;
  //   }
  //
  //   &:after {
  //     left: 0%;
  //   }
  // }
  //
  // &__coupdecoeur {
  //   text-transform: uppercase;
  //
  //   &:after, &:before {
  //     content: " ";
  //     display: inline-block;
  //     width: 25%;
  //     background: black;
  //     position: absolute;
  //     border-bottom: 1px solid black;
  //     top: 6px;
  //   }
  //
  //   &:before {
  //     right: 0%;
  //   }
  //
  //   &:after {
  //     left: 0%;
  //   }
  //
  //   &--red {
  //     color: $red;
  //   }
  // }

  & li {
    * {
      max-width: 100%;
      width: 100%;
      height: auto;
      max-height: 240px;
      text-align: center;
    }
  }

  &__dosomething, &__lecture  {
    position: relative;
    display: block;

    & img {
      width: auto;
      margin-top: 15px;
    }
  }

  .widget {
    margin-bottom: 25px;
    list-style-type: none;
    margin-top: 25px;

    &title {
      margin-bottom: 10px;
      @include font($Jsemibold, $extrasmallmedium, uppercase);
      text-transform: uppercase;
      position: relative;

      &:after, &:before {
        content: " ";
        display: inline-block;
        width: 18%;
        background: black;
        position: absolute;
        border-bottom: 1px solid black;
        top: 9px;
      }

      &:before {
        right: 0%;
      }

      &:after {
        left: 0%;
      }
    }

    &__sociaux {
      display: flex;
      margin-top: 30px;
      margin-bottom: -30px;
      a {
        display: -webkit-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        width: 60px;
        margin-left: auto;
        margin-right: auto;
        height: 60px;
        top: 50%;
        position: relative;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
  }
}

.text-widget {
  max-height: 100%;
  height: 100px;
}

#text-7 {
  float: right;
}

div#sbi_images {
  margin-bottom: 15px;
}

#sb_instagram {
  & .sbi_header_text .sbi_bio, #sb_instagram .sbi_header_text h3 {
    text-align: left;
    color: black;
  }

  & #sbi_load .sbi_follow_btn {
    margin-left: 0px;
  }

  & .sbi_header_img_hover .fa {
    margin-left: -25px;
  }
}

.timeline-Widget .timeline-Body .customisable-border .timeline-Viewport {
  height: 250px!important;
  display: none;
}
