#menu-nav>li:hover .sub-menu>li#menu-item-10408 {
  border-bottom: 2px solid $rose;
    &:hover{
      background-color: $rose;
    }
    & ul.sub-menu li {
      border-bottom: 2px solid $rose!important;
      &:hover{
        background-color: $rose!important;
      }
    }
}

#menu-nav{
  & > li{
    &.jaune:hover{
      & > a:after{
        background-color:$jaune;
      }
      .sub-menu{
        & > li {
          border-bottom: 2px solid $jaune;
          &:hover{
            background-color: $jaune;
          }
        }
      }
    }
    &.rouge:hover{
      & > a:after{
        background-color:$red;
      }
      .sub-menu{
        & > li {
          border-bottom: 2px solid $red;
          &:hover{
            background-color: $red;
          }
        }
      }
    }
    &.bleu:hover{
      & > a:after{
        background-color:$bleu-fonce;
      }
      .sub-menu{
        & > li {
          border-bottom: 2px solid $bleu-fonce;
          &:hover{
            background-color: $bleu-fonce;
          }
        }
      }
    }
  }
}
#menu-burger{
  & > li{
    position:relative;
    & > a:before{
      content:'';
      display: block;
      position:absolute;
      top:0;
      left:-5px;
      width:3px;
      height:37px;
    }
    &.jaune{
      & > a:before{
        background-color:$jaune;
      }
    }
    &.rouge{
      & > a:before{
        background-color:$red;
      }
    }
    &.bleu{
      & > a:before{
        background-color:$bleu-fonce;
      }
    }
  }
}
@media screen and (max-width:599px){
  #menu-burger{
    & > li{
      & > a:before{
        height:100%;
        left:-10px;
      }
    }
  }
}
