.usp {

  &__h2 {
    text-align: center;
    @include font($Jregular, $smallmedium, uppercase);
    font-size: 1.4em;
    line-height: 28px;
    text-transform: uppercase;
  }

  &__ou {
    text-align: center;
    @include font($Jregular, $smallmedium, uppercase);
    margin-bottom: -40px;
    margin-top: 40px;
  }

  &-pro-form {
    margin-top: 50px;
  }

  &-login {
    width: 230px;
    overflow: hidden;
    margin: 50px auto;
    padding: 10px;
    color: $black;
    font-size: 12px;
    line-height: 16px;
    text-shadow: none;
  }
}

.usp-label {
    margin-bottom: 4px;
}

.usp-form input {
  height: 40px;
  padding-left: 20px;
  font-size: $small;
}
.usp-fieldset {
  max-width: 800px!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

#uspcontent_ifr {
  height: 60vh!important;
}

input.usp-submit.usp-submit-default {
  text-align: center;
  width: 20%;
  height: 50px;
  background: white;
  border: 1px solid black;
  margin: 0;
  padding-left: 0;
  left: 50%;
  position: relative;
  @include transform(translateX(-50%));
  padding-right: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  padding-bottom: 0;
}

#usp-captcha, .usp-label-captcha, .usp-label-category, #usp-category {
  width: 49%;
  display: inline-block;
  position: relative;
  float: left;
}
