.home {

  &__button--voir-plus {
    position: relative;
    padding: 10px 25px;
    margin-top: 20px;
    border: 1px solid #A9D7E0;
    font-size: 16px;
    font-family: josefin_slabregular;
    background: #fff;
    color: #A9D7E0;
    text-align: center;
    margin: 30px auto 0px auto;
    display: block;
    max-width: 70px;
    text-decoration: none;
  }

  &__button--voir-plus:hover {
    border: 1px solid $white;
    background: $bleu-ciel;
    color: $white;
    @include transition(1s all ease);
  }

  &__h3 {
      font-size: 30px;
      margin-bottom: 30px;
      margin-top: 30px;
      overflow:hidden;
      text-transform: uppercase;
  }
  &__h3:before {
    content: " ";
    width: 46px;
    height: 46px;
    display: block;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    top: 18px;
  }

  &__h3--bleu:before {
    background: $bleu-ciel;
  }

  &__h3--orange:before {
    background: $orange;
  }
  &__h3--rose:before {
    background: $rose;
  }

  &__h3--jaune:before {
    background: $jaune;
  }

  &__h3--vert-clair:before {
    background: $vert-clair;
  }

  &__h3:after {
    content: '';
    display: inline-block;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 5px;
    height: 100%;
    margin-right: -100%;
    border-bottom: 1px solid #000;
  }

  &__textes {
    float: right;
    margin-right: 20px;
    text-align: justify;
  }

  &__h4 {
    text-transform: uppercase;
    margin-bottom: 6px;
    font-family: 'josefin_slabsemibold';
  }

  &__button {
    padding: 15px 10px;
    margin-top: 20px;
    display: block;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-family: 'josefin_slabsemibold';
    text-transform: uppercase;

    &--gris {
      @include transition(1s all ease);
      background: $white;
      color: $gris-clair;
      border: 1px solid $gris-clair;
    }

    &--gris:hover {
      background: $gris-clair;
      color: $white;
      border: 1px solid $white;
    }

    &--orange {
      @include transition(1s all ease);
      background: $orange;
      color: $white;
      border: 1px solid $white;
    }

    &--orange:hover {
      background: $white;
      color: $orange;
      border: 1px solid $orange;
    }
  }

  &__startup {
    margin-top: 40px;

    &--hastag {
      display: block;
      margin-top: 6px;
      margin-bottom: 6px;
      color: blue;
    }

    &--bg {
      position: absolute;
      width: 150vw;
      background: $blanc-bg;
      height: 100%;
      margin-left: -60vw;
      z-index: -1;
    }

    img {
      width: 100%;
      height: auto;
      border-radius: 50%;
    }

    &--textes {
      float: right;
      margin-right: 20px;
      text-align: justify;
    }
  }

  &__brandfactory {

    &--img img {
      width: 100%;
      height: auto;
    }
  }

  &__video {

    &--block {
      height: 560px;
    }

    & span p {
      position: absolute;
      width: 100%;
    }

    &--liens {
      &:after {
        content: " ";
        height: 16px;
        width: 21px;
        background: url(http://localhost:8890/ddp/wp-content/uploads/2016/05/triangle.png);
        visibility: hidden;
        display: block;
        z-index: 9;
        top: -61px;
        position: relative;
        background-size: contain;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &--lienscontainer {
      display: block;
      width: 100%;
      position: relative;
      top: 350px;
      & li {
        display: inline-block;
        text-decoration: none;
        color: $white;
        text-transform: uppercase;
        font-family: 'josefin_slabsemibold';
        width: 25%;
        float: left;
        padding: 30px 0px;
        background: $rose-clair;
        text-align: center;
        max-height: 16px;
        &:hover {
          background: $rose;
        }
      }
    }
  }
}
