@media (max-width: 1200px) {
  li#text-8 {
    width: 100%;
  }

  #text-4, #text-3, #text-5 {
    display: none;
  }

  .home__button--gris {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .home__brandfactory--img, .home__textes, .home__textes, .home__h4--brandfactory {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    position: relative;
  }

  .home__h4--brandfactory {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .home__newsletter {
    height: 100%;
    .newsletter {
        margin-top: -50px;
    }
  }

  .newsletter {
    &__button--container {
      top: 4px;
    }
    &__homme, &__femme {
      top: 0;
    }
  }

  .footer__sociaux a {
    width: 62px;
    height: 62px;
  }
}
