.post__submission {
  position: relative;
  float: right;
  margin-top: 100px;
  z-index: 9;
  margin-right: -30%;

  & a {
    text-decoration: none;
    background: $gris-fonce;
    padding: 10px 15px;
    color: $white;
  }

  & a:hover {
    background: $black;
    @include transition(1s all ease);
  }

  &--plus {
    font-size: 2.2rem;
    margin-left: 15px;
    top: 4px;
    position: relative;
  }
}

.wpoa-login-button {
  padding-top: 12px;
  position: relative;
  display: block!important;
  text-align: center;
  color: white;
  padding-bottom: 12px;
  margin-bottom: 6px!important;

}

#wpoa-login-google {
  background: $google;
}

#wpoa-login-facebook {
  background: $facebook;;
}

#wpoa-login-linkedin {
  background: $linkedin;
}


.wpoa-layout-align-left {
    text-align: center;
    width: 140px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin-top: 50px;
    margin-bottom: -20px;
}
