#menu-nav{
  & > li{
    &.jaune:hover > a:after{
      background-color:$jaune;
    }
    &.bleu:hover > a:after{
      background-color:$red;
    }
    &.rouge:hover > a:after{
      background-color:$bleu-fonce;
    }
  }
}
